<!DOCTYPE html>
<html lang="en">
	<header>
		<title><%= Pacino.title %></title>
		<%= css_inc_tag '/assets/css/reset.css' %>
		<%= css_inc_tag '/assets/css/master.css' %>
	</header>
	<body>
		<div id="wrapper">
			<header id="header">
				<h1><%= link_to Pacino.title, url('/') %></h1>
			</header>
			<section id="page">
				<%= yield %>
			</section>
			<footer id="footer">
				Powered by <a href="https://github.com/nirix/pacino">Pacino</a> <%= Pacino::VERSION %>
			</footer>
		</div>
	</body>
</html>