<!DOCTYPE html>
<html lang="en" dir="ltr">
	<head>
		<title><%= Pacino.title %></title>
		<link href="http://fonts.googleapis.com/css?family=Dancing+Script:700|Oxygen" rel="stylesheet">
		<%= css_link_tag '/css/style.css' %>
	</head>
	<body>
		<div id="wrapper">
			<header id="header">
				<h1><%= link_to Pacino.title, '/' %></h1>
			</header>
			<div id="page">
<%= yield %>
				<div class="clearfix"></div>
			</div>
			<footer id="footer">
				&copy; <%= Pacino.title %>, powered by Pacino <%= Pacino::VERSION %>
			</footer>
		</div>
	</body>
</html>